<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @professional_upgrade.user_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @professional_upgrade.year %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @professional_upgrade.institution %>
</p>

<p>
  <strong>Upgrade:</strong>
  <%= @professional_upgrade.upgrade %>
</p>

<p>
  <strong>Academic title:</strong>
  <%= @professional_upgrade.academic_title %>
</p>

<p>
  <strong>Country:</strong>
  <%= @professional_upgrade.country_id %>
</p>

<%= link_to 'Edit', edit_professional_upgrade_path(@professional_upgrade) %> |
<%= link_to 'Back', root_path %>
