<h1>Ud. se ha inscrito para participar en  </h1>
<hr>
<p>Evento 		 : <%= @event.event_title %> </p>
<p>Fecha 			 : <%= @event.event_date %> </p>
<p>Descripcion : <%= @event.event_description %> </p>
<p>Lugar 			 : <%= @event.place_event %> </p>
<p><%= image_tag @event.picture_event, height:160, width: 160%></p>
