<% if @personbymail %>
	<div class="row">
		<div class="col-md-2">
		<% if @personbymail.picture_file_name %>
			<%= image_tag (@personbymail.picture) %>
		<% end %>
		</div>
		<div class="col-md-10">
			<div class="row">
			<% if @personbymail.resume %>
			<div class="col-md-02"><strong>Resumen</strong></div>
			<div class="col-md-08">
				<%= @personbymail.resume %>
				<% end %>
				<% if @personbymail.last_date_employee %>
				<p><strong>Desempleado desde : </strong><%= @personbymail.last_date_employee  %></p>
				<% end %>
			</div>
			</div>
		</div>
	</div>
<% end %>

<div class="jumbotron">
	
	<h1>Bienvenidos a la Aplicacion </h1>
	<h2>"Desempleado a los 40" </h2>
	<p>
	Somos una organizacion sin fines de lucro, lo unico que le ofrece al usuario final es ponerlo en contacto con sus pares con problemas similares de desempleo.
	</p>
	
	<p>

	<strong>Porque 40 y no menos de... ?</strong>
	Porque durante estos meses he conocido personas con esa edad o mas, con buena experiencia, estudios, actualizaciones recientes de acuerdo a sus competencias, bilingues (Ingles/Español) pero sin una oferta real de trabajo.
	</p>
	<p>
	Anuncios de empleo con restricciones de edad, o por asi decirlo, limitaciones para personas que ya tienen los 40.
	</p>

	<% if user_signed_in? %>
		<%= link_to "Perfil", edit_person_path(@personbymail.id), class: "btn btn-info" %>
	<% else %>
		<p>
			<%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-sm" %>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-sm" %>	
		</p>
	<% end %>
</div>